@font-face {
  font-family: "Geo";
  src: url("/fonts/Geo-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  background: #121010;
  color: #ffb000;
  font-family: "Geo";
  font-size: 20px;
}

.boot-screen {
    animation: crtBloom 0.5s ease-in-out infinite alternate;
}

.container {
  opacity: 0;
  transition: opacity 1s ease-in; /* This is the key part for the smooth effect */
}

body::after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: repeating-linear-gradient(
    to bottom,
    transparent 0px,
    transparent 2px,
    rgba(0, 0, 0, 0.2) 2px,
    rgba(0, 0, 0, 0.2) 3px
  );
  pointer-events: none; /* Allows mouse interactions with elements underneath */
}

.output-textarea {
  background-color: rgba(0, 0, 0, 0);
  color: #ffd57a;
  height: 30vh;
  width: 100%;
  border: none;
  outline: none;
}

.editor-button {
  background-color: #ffb000;
  color: #121010;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.editor-button:hover {
  background-color: #ffd700;
}


.screen {
  width: 100%;
  height: 100%;
  border: none;
}


.cm-scroller {
    overflow: auto;
}

@keyframes crtBloom {
  from {
    text-shadow: 0 0 40px rgba(255, 174, 0, 0.75), 0 0 50px rgba(255, 174, 0, 0.75);
  }
  to {
    text-shadow: 0 0 50px rgba(255, 174, 0, 0.75), 0 0 60px rgba(255, 174, 0, 0.75);
  }
}